<a href="https://colab.research.google.com/github/JaniceLibbyThomas/Colab_Backup/blob/main/Zomato_Project_V_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DATA ENGINEERING**

**Pre-req Installation**

In [ ]:
!pip install easy-exchange-rates
!pip install jupyter_dash

**Uploading the data into dataframe**

In [2]:
import pandas as pd

#Country code 
Country_code = pd.read_csv('https://raw.githubusercontent.com/JaniceLibbyThomas/Sample_Dataset/main/Country-Code.csv')

#Zomato DataSet
Zomato = pd.read_csv('https://raw.githubusercontent.com/JaniceLibbyThomas/Sample_Dataset/main/Zomato.csv')

In [8]:
list(Country_code['Currency_code'])

['INR',
 'AUD',
 'BRL',
 'CAD',
 'IDR',
 'NZD',
 'PHP',
 'QAR',
 'SGD',
 'ZAR',
 'LKR',
 'TRY',
 'QAR',
 'GBP',
 'USD']

In [ ]:
Zomato

**Converting the Currency to Indian Rupee**

**Exchange rate - INR**

In [19]:
from easy_exchange_rates import API
from datetime import date

Curr_code = list(Country_code['Currency_code'])
Exchange_Rate = []

api = API()
for i in range (0, len(Curr_code)):
  time_series = api.get_exchange_rates(
  base_currency=Curr_code[i], 
  start_date=str(date.today()), 
  end_date=str(date.today()), 
  targets=['INR']
  )
  Exchange_Rate.append((time_series[str(date.today())])['INR'])

Country_code['Exchange_rate'] = Exchange_Rate

Country_code

    Country_Code         Country Currency_code  Exchange_rate
0              1           India           INR       1.000000
1             14       Australia           AUD      57.050472
2             30          Brazil           BRL      15.882227
3             37          Canada           CAD      61.018767
4             94       Indonesia           IDR       0.005399
5            148     New Zealand           NZD      52.361429
6            162     Phillipines           PHP       1.494186
7            166           Qatar           QAR      22.357544
8            184       Singapore           SGD      61.875890
9            189    South Africa           ZAR       4.800834
10           191       Sri Lanka           LKR       0.223243
11           208          Turkey           TRY       4.352075
12           214             UAE           QAR      22.357544
13           215  United Kingdom           GBP      99.663762
14           216   United States           USD      81.759473

**Merging the Zomato and Country Code**

In [22]:
Zomato = pd.merge(Zomato,Country_code)
Zomato

,Restaurant_ID,Restaurant_Name,Country_Code,City,Address,Locality,Locality_Verbose,Longitude,Latitude,Cuisines,...,Is_delivering_now,Switch_to_order_menu,Price_range,Aggregate_rating,Rating_color,Rating_text,Votes,Country,Currency_code,Exchange_rate
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,No,No,3,4.8,Dark Green,Excellent,314,Phillipines,PHP,1.494186
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,No,No,3,4.5,Dark Green,Excellent,591,Phillipines,PHP,1.494186
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,No,No,4,4.4,Green,Very Good,270,Phillipines,PHP,1.494186
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,No,No,4,4.9,Dark Green,Excellent,365,Phillipines,PHP,1.494186
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,No,No,4,4.8,Dark Green,Excellent,229,Phillipines,PHP,1.494186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml郾 Gurme,208,哿stanbul,"Kemanke侓 Karamustafa Pa侓a Mahallesi, R郾ht郾m Ca...",Karak韄y,"Karak韄y, 哿stanbul",28.977392,41.022793,Turkish,...,No,No,3,4.1,Green,Very Good,788,Turkey,TRY,4.352075
9547,5908749,Ceviz A埕ac郾,208,哿stanbul,"Ko侓uyolu Mahallesi, Muhittin 盱st韄nda埕 Caddesi,...",Ko侓uyolu,"Ko侓uyolu, 哿stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,No,No,3,4.2,Green,Very Good,1034,Turkey,TRY,4.352075
9548,5915807,Huqqa,208,哿stanbul,"Kuru韄e侓me Mahallesi, Muallim Naci Caddesi, No ...",Kuru韄e侓me,"Kuru韄e侓me, 哿stanbul",29.034640,41.055817,"Italian, World Cuisine",...,No,No,4,3.7,Yellow,Good,661,Turkey,TRY,4.352075
9549,5916112,A侓侓k Kahve,208,哿stanbul,"Kuru韄e侓me Mahallesi, Muallim Naci Caddesi, No ...",Kuru韄e侓me,"Kuru韄e侓me, 哿stanbul",29.036019,41.057979,Restaurant Cafe,...,No,No,4,4.0,Green,Very Good,901,Turkey,TRY,4.352075
9550,5927402,Walter's Coffee Roastery,208,哿stanbul,"Cafea埕a Mahallesi, Bademalt郾 Sokak, No 21/B, K...",Moda,"Moda, 哿stanbul",29.026016,40.984776,Cafe,...,No,No,2,4.0,Green,Very Good,591,Turkey,TRY,4.352075

**By using exchange rate - Converting to INR**